In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_excel('./baseDeDados/dataBaseTratada.xlsx')

df_corr = df[['customer_zip_code_prefix', 'review_score', 'delivery_time_model', 'delivery_time', 'tempo_entrega_transportadora', 'tempo_entrega_cliente']]
df_corr = df_corr[df_corr['tempo_entrega_cliente']>0]
df_corr = df_corr[df_corr['tempo_entrega_transportadora']>0]

df_corr.describe()

,customer_zip_code_prefix,review_score,delivery_time_model,delivery_time,tempo_entrega_transportadora,tempo_entrega_cliente
count,67391.000000,67391.000000,67391.000000,67391.000000,67391.000000,67391.000000
mean,34713.861020,4.021726,24.821345,13.723485,3.062873,9.762911
std,29347.471724,1.311298,7.737675,9.062543,3.498059,8.834111
min,1004.000000,1.000000,7.130000,0.530000,0.002731,0.000012
25%,11460.000000,3.997976,20.420000,8.310000,1.036782,4.200127
50%,24360.000000,5.000000,25.244095,13.774678,2.064178,7.410197
75%,57036.000000,5.000000,27.410000,14.870000,3.919086,12.895162
max,99980.000000,5.000000,155.140000,195.630000,107.053218,194.213009

In [16]:
df_corr

,customer_zip_code_prefix,review_score,delivery_time_model,delivery_time,tempo_entrega_transportadora,tempo_entrega_cliente
0,3149,4.000000,15.540000,8.440000,2.366493,6.062650
1,3149,4.000000,15.540000,8.440000,2.366493,6.062650
2,3149,4.000000,15.540000,8.440000,2.366493,6.062650
3,59296,5.000000,26.190000,13.210000,3.745833,9.450498
4,9195,5.000000,25.244095,2.870000,0.893113,1.937824
...,...,...,...,...,...,...
67817,11722,4.000000,23.460000,22.190000,1.425058,20.760579
67818,45920,5.000000,30.380000,24.860000,1.241782,23.605451
67819,28685,2.000000,37.110000,13.774678,3.749097,13.331840
67820,28685,2.000000,37.110000,13.774678,3.749097,13.331840
67821,83750,3.997976,25.130000,7.670000,0.452442,6.622581

In [3]:
# Separando dados aleatoriamente entre vetores de treino e teste
msk = np.random.rand(len(df_corr)) < 0.8
treino = df_corr[msk]
teste = df_corr[~msk]

X_treino = np.asanyarray(treino[['review_score', 'delivery_time_model', 'tempo_entrega_transportadora', 'tempo_entrega_cliente']])
y_treino = np.asanyarray(treino[['delivery_time']])
X_teste = np.asanyarray(teste[['review_score', 'delivery_time_model', 'tempo_entrega_transportadora', 'tempo_entrega_cliente']].values)
y_teste = np.asanyarray(teste[['delivery_time']].values)

In [4]:
from sklearn import linear_model

regr = linear_model.LinearRegression()

regr.fit (X_treino, y_treino)

print('Coeficientes: ', regr.coef_)

Coeficientes:  [[-0.04673566 -0.02811854  0.878805    0.90216364]]

In [5]:
y_hat = regr.predict(teste[['review_score', 'delivery_time_model', 'tempo_entrega_transportadora', 'tempo_entrega_cliente']].values)

# Calculando as métricas de avaliação
rss = np.sum((y_hat - y_teste) ** 2)
print("Residual sum of squares (RSS): %.2f" % rss)

mse = mean_squared_error(y_teste, y_hat)
print("Mean Squared Error (MSE): %.2f" % mse)

rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE): %.2f" % rmse)

variance_score = regr.score(X_teste, y_teste)
print('Variance score (R²): %.2f' % variance_score)

Residual sum of squares (RSS): 134071.56
Mean Squared Error (MSE): 9.95
Root Mean Squared Error (RMSE): 3.15
Variance score (R²): 0.88